.form-view__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin-bottom: 38px;
}

.form-view__register .form-view__title {
  text-align: center;
}

.form-view__image + .form-view__title {
  margin-bottom: 0;
  margin-top: 32px;
}

@media screen and (max-width: 500px) {
  .form-view__title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 24px;
  }

  .form-view__image + .form-view__title {
    margin-bottom: 0;
    margin-top: 24px;
  }
}
