.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 936px) {
  .header__logo {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 30px 30px;
  }
}
