@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__email/header__email.css);
@import url(./__menu-items/header__menu-items.css);
@import url(./__link/header__link.css);

.header {
  width: 100%;
  padding-top: 45px;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-auto-flow: dense;
}

.header::after {
  content: '';
  opacity: .7;
  border-bottom: 1px solid #545454;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 28px 27px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 0;
    box-sizing: content-box;
    max-width: 767px;
  }
}