@import url(./__logo/header__logo.css);
@import url(./__toggle/header__toggle.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);
@import url(./__text/header__text.css);

.header {
  display: flex;
  width: 100%;
  padding-top: 45px;
  position: relative;
}

.header::after {
  content: '';
  opacity: .7;
  border-bottom: 1px solid #545454;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
  }
}
