@import url(./__avatar/profile__avatar.css);
@import url(./__image/profile__image.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__button/profile__button.css);

.profile {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}
