@import url(./_visible/spinner_visible.css);

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background: url(../../images/spinner.svg) center / 50% 50% no-repeat ;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
