.toggle__button {
  cursor: pointer;
  position: relative;
  user-select: none;
  margin-left: auto;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .toggle__button {
    display: none;
  }
}